
@mixin modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35); 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@mixin fund-container {
    background-color: $White;
    padding: 2rem;
    border-radius: 0.75rem;
    position: relative; 
}

@mixin fund-header {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem; 
}

@mixin fund-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 1rem; 
}

@mixin fund-inputs {
    border: 1px solid $MedGrey;
    width: 100%;
    height: 3rem;
    border-radius: 0.75rem;
    padding: 0;
    margin-top: 0.5rem;
    box-sizing: border-box;
    padding-left: 1rem;
    font-size: 0.90rem;
}

@mixin fund-action-buttons {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.75rem;
    color: $White;
    font-weight: 600;
    font-size: 0.90rem;
}

@mixin fund-close-modal {
    font-size: 2rem;
    color: $MedGrey;

    &:hover {
        cursor: pointer;
    }  
}

@mixin fund-desc {
    font-size: 0.90rem;
    color: $MedGrey;
    font-weight: 400;  
}

@mixin target-input {
    position: absolute;
    left: 2.75rem;
    color: $MedGrey;  
}

@mixin add-fund {
    width: 10rem; 
    padding: 1.25rem;
    border-radius: 0.75rem;
    border: none;
    background-color: $DarkGrey;
    color: $White;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: $LightGrey;
        color: $White; 
    }
}

@mixin fund {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3rem;
}

@mixin pot-details-container {
    width: 100%;
    height: 7.5rem;

    .container-saved, .container-progress {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2, #percentage {
            font-size: 0.90rem;
            color: $MedGrey;
            font-weight: 400;
        }

        p {
            font-size: 1.45rem;
            font-weight: 800;
        }
    }

    .container-progress {
        p {
            font-size: 0.90rem;
            color: $MedGrey; 
            font-weight: 400;
        }

        #percentage {
            font-weight: 600;
        }
    }
}

