// Colors

  // Primary

  $Green: (177, 52%, 32%);
  $Yellow: (28, 73%, 81%);
  $Cyan: (190, 52%, 68%);
  $Navy: (248, 8%, 41%);
  $Red: (7, 58%, 50%);
  $Purple: (259, 30%, 56%); 
  
  // Secondary

  $LightPurple: (288, 29%, 62%);
  $Turquoise: (180, 16%, 42%);
  $Brown: (21, 30%, 44%);
  $Magenta: (332, 30%, 44%);
  $Blue: (205, 48%, 47%);
  $NavyGrey: (214, 11%, 63%);
  $ArmyGreen: (83, 20%, 47%);
  $Gold: (47, 50%, 59%);
  $Orange: (18, 47%, 52%);

  // Neutral

  $LightBeige: (30, 36%, 96%);
  $DarkBeige: (23, 6%, 57%);
  $DarkGrey: (252, 7%, 13%);
  $MedGrey: (0, 0%, 41%);
  $LightGrey: (0, 0%, 70%);
  $White: (0, 0%, 100%);

// Fonts

  $FontPrimary: 'Public Sans', sans-serif;