// Colors

  // Primary

  $Green: hsl(177, 52%, 32%);
  $Yellow: hsl(28, 73%, 81%);
  $Cyan: hsl(190, 52%, 68%);
  $Navy: hsl(248, 8%, 41%);
  $Red: hsl(7, 58%, 50%);
  $Purple: hsl(259, 30%, 56%); 
  
  // Secondary

  $LightPurple: hsl(288, 29%, 62%);
  $Turquoise: hsl(180, 16%, 42%);
  $Brown: hsl(21, 30%, 44%);
  $Magenta: hsl(332, 30%, 44%);
  $Blue: hsl(205, 48%, 47%);
  $NavyGrey: hsl(214, 11%, 63%);
  $ArmyGreen: hsl(83, 20%, 47%);
  $Gold: hsl(47, 50%, 59%);
  $Orange: hsl(18, 47%, 52%);

  // Neutral

  $LightBeige: hsl(30, 36%, 96%);
  $DarkBeige: hsl(23, 6%, 57%);
  $DarkGrey: hsl(252, 7%, 13%);
  $MedGrey: hsl(0, 0%, 41%);
  $LightGrey: hsl(0, 0%, 70%);
  $VeryLightGrey: hsl(0, 0%, 90%);
  $DimGrey: hsl(0, 0%, 94%);
  $White: hsl(0, 0%, 100%);

// Fonts

  $FontPrimary: 'Public Sans';