.main-container-rec-bills {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh; 
    overflow-y: auto; 
    box-sizing: border-box;

    .sub-container-rec-bills {
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 20% 60%;
        gap: 6rem;
    }
}