@import '../../variables/variables.scss';

.navigation {
    width: 75%;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    text-decoration: none;
    color: $LightGrey;

    p {
        margin-left: 1.5rem;
    }

    #icon {
        font-size: 1.5rem;
    }

    &.active {
        background-color: $White;
        color: $DarkGrey;
        border-left: 0.25rem solid $Green;
        font-weight: 800;

        #icon {
            color: $Green;
        }

        &:hover {
            color: $DarkGrey;
        }
    }

    &:hover {
        color: $White;
    }
}  