@import '../../../../variables/variables.scss';

.main-container-bills {
    width: 60%;
    height: 22.5rem;
    padding: 0 2rem;
    background-color: $White;
    margin-top: 1rem;
    border-radius: 0.75rem;
}
