@import './variables/variables.scss'; 

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;

  .main-sidebar {
    width: 22.5%;

    &.minimized {
      width: 12.5%;  
    }
  }

  .main-pages {
    width: 87.5%;
    transition: width 0.4s ease; 

    &.minimized {
      width: 90%; 
    }
  }

}